Exposiciones/
Practicas/Practica1/Resultados_Practica1.aux
Practicas/Practica1/Resultados_Practica1.log
Practicas/Practica1/Resultados_Practica1.synctex.gz
Practicas/Practica2/practica02.out
Practicas/Practica1/Plantilla.log
Practicas/Practica1/Entregable/Joshua Pedrero.zip
Practicas/Practica2/Practica2-2019.pdf
Practicas/Practica2/Entregable/Joshua Pedrero.zip
Practicas/Practica2/Resultados_Practica2.aux
Practicas/Practica2/Resultados_Practica2.log
Practicas/Practica2/Resultados_Practica2.synctex.gz
Practicas/Practica3/Resultados_Practica3.aux
Practicas/Practica3/Resultados_Practica3.log
Practicas/Practica3/Resultados_Practica3.synctex.gz
Practicas/Practica3/practica03.out
Practicas/Practica3/practica03.out
Practicas/Practica3/Entregable/Joshua Pedrero.zip
Practicas/.vscode/settings.json
